graft src
graft tests
prune benchmarking
prune tests/.pytest_cache
prune docs/source/api

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg Dockerfile docker-compose.yml
include *.rst *.yml LICENSE tox.ini
