graft src
graft tests
prune scripts
prune notebooks
prune tests/.pytest_cache
prune docs

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle .idea/**

include README.md LICENSE
exclude tox.ini .readthedocs.yml .cruft.json
