{% extends "base.html" %}

{% block title %}{{ resource.get_name() }}{% endblock title %}

{% block content -%}
    <div class="card">
        <div class="card-header">
            {{ resource.get_name() }}
        </div>
        <div class="card-body">
            <p>{{ resource.get_description() }}</p>
            <dl>
                {% if obo.data_version %}
                    <dt>Data Version</dt>
                    <dd>{{ obo.data_version }}</dd>
                {% endif %}
                <dt>Bioregistry</dt>
                <dd>
                    <a href="https://bioregistry.io/{{ obo.ontology }}">
                        <code>bioregistry:{{ obo.ontology }}</code>
                    </a>
                </dd>
                {% if not manifest %}
                    <dt>Example Page</dt>
                    <dd><a href="{{ resource.get_example() }}">{{ resource.get_example() }}</a></dd>
                {% endif %}
            </dl>

            {% if obo.synonym_typedefs %}
                <h3>Synonym Definitions</h3>
                <ul>
                    {% for typedef in obo.synonym_typedefs %}
                        <li>{{ typedef }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if obo.idspaces %}
                <h3>Prefix Map</h3>
                <dl class="row">
                    {% for k, v in obo.idspaces.items() %}
                        <dt class="col-sm-3 text-right">{{ k }}</dt>
                        <dd class="col-sm-9 text-left">{{ v }}</dd>
                    {% endfor %}
                </dl>
            {% endif %}
            {% if manifest %}
                <h3>Terms, Relations, and Properties</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Type</td>
                        <td>Local Identifier</td>
                        <td>Name</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for term in manifest %}
                        <tr>
                            <td>
                                {% if term.is_metadata_tag %}
                                    Property
                                {% else %}
                                    {{ term.__class__.__name__ }}
                                {% endif %}
                            </td>
                            <td><a href="{{ term.identifier }}">{{ term.identifier }}</a></td>
                            <td>{{ term.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% elif obo.typedefs %}
                <h3>Relation Definitions</h3>
                <ul>
                    {% for typedef in obo.typedefs %}
                        <li>{{ typedef }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{%- endblock content %}
