<p class="small" style="margin-bottom: 0">
    Developed with ❤️ in 🇩🇪 and 🇺🇸 by the <a href="https://indralab.github.io">INDRA labs</a> in the
    <a href="https://hits.harvard.edu">Harvard Program in Therapeutic Science (HiTS)</a>.<br/>
    Funded by the DARPA Automating Scientific Knowledge Extraction (ASKE) program under award
    HR00111990009.<br/> Point of contact: <a href="https://github.com/cthoyt">@cthoyt</a>.
    (<a href="https://github.com/pyobo/pyobo">Source code</a> |
    <a href="https://cthoyt.com/2020/04/18/ooh-na-na.html">blog post</a>)
</p>
