{% extends "base.html" %}

{% block content %}
    <h5 class="card-header">Bioresolver</h5>
    <div class="card-body">
        <p>
            This service resolves <a href="https://en.wikipedia.org/wiki/CURIE">CURIEs</a>
            to their labels, names, and builds provider URLs (like for Identifiers.org) when possible.
            {% if name_count %}It currently covers {{ name_count }} names,
                {{ alts_count }} alternate identifiers, and {{ definition_count }} definitions
                across {{ prefix_count }} resources{% endif %}.
            See also the <a href="{{ url_for(".summary") }}"> summary</a> and
            <a href="{{ url_for("flasgger.apidocs") }}">Swagger docs</a>.
        </p>

        <h5 class="card-title">Examples</h5>
        <p>
            It has a single endpoint <code>/resolve/&lt;curie&gt;</code> that gives back JSON.
            Here are a few examples:
        </p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">CURIE</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='DOID:14330' ) }}">DOID:14330</a></td>
            <td>🟢 exact</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='doid:14330' ) }}">doid:14330</a></td>
            <td>🟢 capitalization variant</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='DO:14330' ) }}">DO:14330</a></td>
            <td>🟢 synonym identified in metaregistry</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='GO:0000501' ) }}">GO:0000501</a></td>
            <td>🟢 secondary identifier mapped</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='GO:GO:0000501' ) }}">GO:GO:0000501</a></td>
            <td>🟢 banana problem mapped</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='APO:0000155' ) }}">apo:0000155</a></td>
            <td>🟡 able to look up name, but prefix is not listed on Identifiers.org</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='wikidata:Q11085' ) }}">wikidata:Q11085</a></td>
            <td>🟡 able to generate Identifiers.org link, but name unavailable</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='DOID:00000' ) }}">DOID:00000</a></td>
            <td>🔴 valid prefix, but invalid identifier</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('.resolve', curie='NNN:00000' ) }}">NNN:00000</a></td>
            <td>🔴 invalid prefix</td>
        </tr>
    </table>
    <div class="card-footer text-center">
        {% include "footer.html" %}
    </div>
{% endblock %}
